# misc
.vscode/
.vscode/extensions.json
.DS_Store

# python
__pycache__
.venv

# data
*.jpg
*.csv
thermal_data_*.csv
testcomms_results_*.csv
SatellitePayload/captures/*
SatellitePayload/capture_queue/*
dev-teensyGroundStation/captures/*
dev-teensyGroundStation/webapp/rotation_state.json